<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>
        Create Flight
    </title>
</head>
<body>
    <h1>
        Create Flight
    </h1>
<form action="/createflight" method ="POST">
    <input type="text" name="FlightNumber" placeholder="flightNumber">
    <input type="text" name="DepartureTime" placeholder="departureTime">
    <input type="text" name="ArrivalTime" placeholder="arrivalTime">
    <input type="text" name="EconomySeats" placeholder="economySeats">
    <input type="text" name="BusinessSeats" placeholder="businessSeats">
    <input type="text" name="Airport" placeholder="airport">
    <input type="submit" name="createflight"></button>
</form>



</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
